.container {
    width: 300px;
    background-color: rgb(247, 189, 1);
    border: solid 1px black;
    padding: 30px;
    margin: 50px 100px 150px 200px;
}
label{
    font-size: 24px;
    font-style: oblique;
}
.column-direction{
    display:flex;
    flex-direction: column;
}
#username{
    font-weight: bold;
    font-size: 10px;
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    font-weight: 400;
    font-size: 24px;
}
.bold{
    font-weight: 600;
    font-size: 40px;
}
#login{
    padding: 5px 30px;
    border: none;
    border-radius: 20px;
}
.flexbox{
    border: 30px solid blue;
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 300px;
    background-color: rgba(2, 196, 138, 0.644);
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item{
    height: 100px;
    background-color: cornflowerblue;
    border:2px solid white;
    flex: 1 0 90px;
}
p{
    color: rgb(184, 5, 5);
    font-family: 'Times New Roman', Times, serif;
}

.grid{
display: grid;
width: 500px;
grid-template-columns: 1fr 1fr 1fr;
border: 5px solid black;
gap: 10px;
}
.border-item{
border: 1px solid blue;
}

#pond{
    display: flex;
    justify-content: flex-end;
}
#pond{
    display: flex;
    justify-content: center;
}
#pond{
    display: flex;
    justify-content: space-around;
}
#pond{
    display: flex;
    justify-content: space-between;
}